{% extends 'base.html' %}

{% block title %}비밀번호 변경{% endblock title %}
{% block style %}
.main_div { 
	height: 900px;
	display :flex;
	justify-content:center;
	}
	p{
		margin-right:20px;
	}
{% endblock style %}
{% block container %}
<div class="main_div">
	<div style="padding:30px; border-radius: 12px; margin-top:100px; background-color:#F2F2F2; display:flex; width:60%; height:32%; justify-content:center;">
		<div style="display:flex; justify-content:center; width:100%">
		<form method="post" >
			{% csrf_token %}
			<div style="width:300px; ">
			<p style="text-align:center;">비밀번호 변경</p>
			<p><input type="password" style="width:300px;" placeholder="기존 비밀번호" name="old_password" autofocus required id="id_old_password"></p>
			<p><input type="password" style="width:300px;" name="new_password1" placeholder="새 비밀번호 : 8자 이상, 영문 + 숫자" required id="id_new_password1"></p>
			<p><input type="password" style="width:300px;" name="new_password2" placeholder="비밀번호 확인" required id="id_new_password2"></p>
			</div>
			<div style="display:flex; justify-content:center;">
			<button class="btn-danger" type="submit" style="height:30px; width:100px;">변경</button>
			</div>
		</form>
		</div>
		<hr>
	</div>
</div>
{% endblock container %}


{% comment %} <h2>비밀번호 변경</h2>
<form method="post">
  {% csrf_token %}
  <p><input type="password" placeholder="기존 비밀번호" name="old_password" autofocus required id="id_old_password"></p>
    <p><input type="password" name="new_password1" placeholder="새 비밀번호 : 8자 이상, 영문 + 숫자" required id="id_new_password1"></p>
    <p><input type="password" name="new_password2" placeholder="비밀번호 확인" required id="id_new_password2"></p>
  <button class="btn btn-danger" type="submit">비밀번호 변경</button>
</form>

<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="XcJpoGFeP0cl4TSQJOWwQdpM6toY2p47PTvglpTny3z1xp4Ksyk9RqGoEWFn4cZE">
  <p><label for="id_old_password">기존 비밀번호:</label> <input type="password" name="old_password" autofocus required id="id_old_password"></p>
<p><label for="id_new_password1">새 비밀번호:</label> <input type="password" name="new_password1" required id="id_new_password1"> <span class="helptext"><ul><li>다른 개인정보와 비슷한 비밀번호는 사용할 수 없습니다.</li><li>비밀번호는 최소 8자 이상이어야 합니다.</li><li>비밀번호는 일상적으로 사용되는 비밀번호일 수 없습니다.</li><li>비밀번호는 전부 숫자로 할 수 없습니다.</li></ul></span></p>
<p><label for="id_new_password2">새 비밀번호 (확인):</label> <input type="password" name="new_password2" required id="id_new_password2"></p>
  <button class="btn btn-danger" type="submit">비밀번호 변경</button>
</form> {% endcomment %}